NODE_ENV=development
PORT=8000
HTTPS_ENABLED=false

# MongoDB Atlas
DATABASE=
DATABASE_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

# Email
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=25

# Sendgrid
EMAIL_FROM=
SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=

# Stripe
STRIPE_SECRET_KEY=

# CORS
SERVER_URL=
CLIENT_URL=